@font-face{
  font-family: "hwyD";
  src:url("./hnv.woff2") format("woff2");
  font-display: swap;
  font-variation-settings: "wdth" 80;
  font-variation-settings: "wght" 700;
}
@font-face{
  font-family: "hwyE";
  src:url("./hnv.woff2") format("woff2");
  font-display: swap;
  font-variation-settings: "wght" 700;
}
@font-face{
  font-family: "hwyEm";
  src:url("./hnv.woff2") format("woff2");
  font-display: swap;
  font-variation-settings: 'wght' 700, 'wdth' 100, 'opsz' 12; 
}
.dest{
	letter-spacing:0pt;
}
.dist{
	letter-spacing:0pt;
}