body{
  background-color:green;
  text-align:center;
}
@font-face{
  font-family: "hwyD";
  src:url("./HighwayD2K.woff2") format("woff2"),url("HighwayD2K.ttf") format("truetype");
  font-display: swap;
  
}
@font-face{
  font-family: "hwyE";
  src:url("./HighwayE2K.woff2") format("woff2"),url("HighwayE2K.ttf") format("truetype");
  font-display: swap;
}
@font-face{
  font-family: "hwyEm";
  src:url("./HighwayEMod2K.woff2") format("woff2"),url("HighwayEMod2K.ttf") format("truetype");
  font-display: swap;
}


.panel{
  background-color:green;
  height:auto;
  width:auto;
  display:inline-block;
  border:2pt solid white;
  border-radius:12pt;
  text-align:center;
 padding:0pt;
}
.multipanelcontainer{
  height:auto;
  width:auto;
  display:inline-block;
  background-color:green;
}
.main-sign-table{
  margin:0pt;
  padding:0pt;  
  display: block;
  text-align:center;
  width:auto;
  height:auto;
  place-items: center; /* centers both vertically and horizontally */
}
.panel-exit,.panel-exit-left{
  float:right;
  background-color:green;
  height:auto;
  width:auto;
  display:inline-block;
  border:2pt solid white;
  border-radius:5pt;
  text-align:center;
  padding:0pt;
}
.panel-exit-left{
  float:left;
}
.exit{
  font-size:14.07pt;
  letter-spacing: 1.7pt;
  position:relative;
  bottom:2pt;
}
.exit-num{
  font-size:21.094pt;
  position:relative;
  top:2pt;
}
.sign-table{
  margin:0pt;
  padding:0pt;  
  display: inline-block;
  text-align:center;
  width:auto;
  height:auto;
  place-items: center; /* centers both vertically and horizontally */

}
tbody{
	display:block;
}
tr{
  margin:0px;
  padding:0px;
  display:block;
}
td{
  margin:0px;
  padding:0px;
  font-family:'hwyE';
  letter-spacing:4pt;
  font-size:22.5pt;
  color:white;
  display:inline-block;
}
p{
  margin-top:0pt;
  margin-bottom:0pt;
  margin-left:15pt;
  margin-right:15pt;
}
img{
  height:36pt;
  display:block;
  margin-top:3pt;
}
.dest{
  font-family:'hwyEm';
  color:white;
  font-size:22.5pt;
  letter-spacing:5pt;
  padding:0pt;
}
.dist{
  font-family:'hwyE';
  color:white;
  font-size:16.875pt;
  letter-spacing:3.125pt;
}
.dist-num{
  font-family:'hwyE';
  font-size:25.312pt;
  position:relative;
  top:2pt;
}
.markercontainer{
  position:relative;
  display:inline-block;
  font-size:25.3125pt;
  margin-left:9pt;
  margin-right:9pt;
  letter-spacing: 1pt;

}
 
.shieldnumber{
  color:black;
  position: absolute;
  letter-spacing: 2pt;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;	
}
.rectmarkertextbove{
  font-size:20pt;
    
  top: 70%;
}
  .circmarker{
    font-size:21pt;
    top:55%;
  }
  .camarker{
    color:white;
    font-size:18pt;
    top:70%;
  }
.usmarker{
  font-size:21pt;
}
.wide{
  font-family: "hwyD";
}
.interstatemarker{
  color:white;
  font-size:21.0937pt;
}
.dir{
  font-size:16.875pt;
  letter-spacing:3pt;
  margin-left:0pt;
  margin-right:5pt;
  position:relative;
  bottom:2pt;
}
.dir-cap{
  font-size:21.094pt;
}
.sign-table:shield{
  display:inline;
}
@media (max-width: 699px) {
  .multipanelcontainer {
    width: 50%; /* Viewport width */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  .panel-exit, .panel-exit-left{
	  width:100%;
	  text-align:right;
	  border:none;
	  background-color:transparent;
	  border-bottom:2pt solid white;
	  border-radius:0pt;
  }
  .panel-exit-left{
	text-align:left;
  }
  .panel{
	  border:none;
  }
  .multipanelcontainer{
	border-radius:12pt;
	border:2pt solid white;
  }
}
@media (max-width: 499px) {
  .multipanelcontainer , .panel{
    width: 100%; /* Viewport width */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  .multipanelcontainer{
	margin-top:5pt;  
  }
}
.warning{
	border-radius:3pt;
	background-color:gold;
	color:black;
  text-align:center;
  float:left;
  margin-top:6pt;
  margin-left:12pt;
  margin-right:12pt;
  
}
p.warning{
	color:black;
	margin-left:4pt;
  margin-right:0pt;
  margin-top:1pt;
  font-size:16.875pt;
}